*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-image: url('img/header.jpg');
    margin: 0;
    background-size: cover;
    background-position: center;
    height: 100vh;
    mask-image: linear-gradient(black , transparent);
    -webkit-mask-image: linear-gradient(black 80%,transparent 100%);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}
.logo {
    font-size: 5vh;
    padding-top: 15px;
    font-family: "Baloo Paaji 2";
    font-weight: bold;
}
.logo a{
    text-decoration: none;
    color: #ffff;
}
.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.menu li {
    padding-top: 20px;
    margin: 0 45px;
}
.menu a {
    text-decoration: none;
    color: #ffff;
    font-family: "Baloo Paaji 2";
    font-size: 18px;
    transition: color 0.3s ease;
} 
.menu a:hover{
    color: #633da8;
}
.maintxt {
    display: flex;
}
.left{
    width: 50%;
    height: calc(100vh - 100px);
    font-family: "Baloo Paaji 2";
    color: #383b41;
}
.right{
    width: 50%;
    height: calc(100vh - 100px);
}
.left h1{
    padding-left: 100px;
    padding-top: 100px;
    font-size: 60px;
    line-height: 60px;
}
.left h3{
    padding-left: 100px;
    padding-top: 10px;
    font-family: "Instrument Sans";
    font-weight: bold;
    font-size: 30px;
}
.left h3 span{
    font-size: 40px;
}
.top{
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 50px;
    margin-left: 200px;
    margin-top: 70px;
    background-color: #594C8D;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}
.top:hover {
    background-color: #342e4e;
}
button a{
    text-decoration: none;
    color: #ffff;
    font-size: 18px;
    font-family: "sen";
}
/* About me */
.containme{
    width: 100%;
    height: 100vh;
    background-color: #ffff;
}
.memain{
    display: flex;
}
.meleft{
    width: 40%;
    height: 100vh;
}
.meleft img{
    width: 400px;
    height: 400px;
    margin-left: 100px;
    margin-top: 120px;
}
.meright{
    width: 60%;
    height: 100vh;
}
.meright h4{
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 18px;
    color: #383b41;
    padding-top: 100px;
}
.meright h2{
    font-family: "Baloo Paaji 2";
    color: #7d5eb6;
    font-size: 35px;
}
.meright p{
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: normal;
}
.cvbut{
    width: 170px;
    height: 50px;
    border-radius: 50px;
    margin-left: 160px;
    margin-top: 50px;
    background-color: white;
    border: 2px solid #633da8;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    font-family: "sen";
    color: #633da8;
    transition: background-color 0.3s ease-in;
}
.cvbut:hover{
    background-color: #633da8;
    color: #ffff;
    border-color: #633da8;
}
.conitain-know{
    width: 100%;
    height: 100vh;
    background-color: #ffff;
}
.socicon {
    align-items: flex-start;
    display: flex;
    margin-top: 50px;
    gap: 80px;
    font-size: 30px;
    line-height: 40px;
}
.socicon a{
    width: 40px;
    height: 40px;
    color: #633da8;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    transition: background-color 0.2s ease-in;
}
.socicon a:hover{
    background-color: #633da8;
    color: #ffff;
}

/* skill */

.containme{
    width: 100%;
    height: 100vh;
    background-color: #ffff;
}
.mainknow h3{
    font-family: "Open Sans";
    font-weight: normal;
    color: #383b41;
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
}
.mainknow h2{
    font-family: "Baloo Paaji 2";
    color: #7d5eb6;
    font-size: 35px;
    text-align: center;
    line-height: 40px;
}
.mainsq{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px; 
    display: grid;
    grid-template-columns: repeat(2,0.1fr);
    gap: 40px; 
}
.sqr1{
    height: 230px;
    width: 550px;
    border: 1px solid #383b41;
    border-radius: 10px;
    display: flex;
}
.sqri{
    height: 100%;
    width: 40%;
}
.sqlf{
    height: 100%;
    width: calc(100% - 40%);
}
.sqri i{
    display: flex;          
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 80px;
    color: #333438;
}
.sqlf h4{
    font-family: "Baloo Paaji 2";
    /* text-align: center; */
    padding-top: 20px;
    color: #594C8D;
    font-size: 30px;
}
.sqlf p{
    font-family: "Open Sans";
    font-size: 13px;
    padding-top: 10px;
}

/* work */

.conitain-work{
    width: 100%;
    height: 160vh;
    background-color: #ffffff;
}
.mainwork h3{
    font-family: "Open Sans";
    font-weight: normal;
    color: #383b41;
    text-align: center;
    font-size: 15px;
    padding-top: 100px;
}
.mainwork h2{
    font-family: "Baloo Paaji 2";
    color: #7d5eb6;
    font-size: 35px;
    text-align: center;
    line-height: 40px;
}

.imag2{
    width: 380px;
    height: 380px;
    border-radius: 5px;
}
.imagmain-div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
}
.imag2{
    border: 1px solid #383b41;
}
.imag2 img{
    width: 380px;
    height: 380px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

/* contact */
.contact-form{
    width: 100%;
    height: 100vh;
    background-color: #ffffff; 
}
.contnt{
    display: flex;
    justify-content: center; 
    margin: 0;  
}
.contxt h3{
    text-align: center;
    padding-top: 100px;
    font-family: "Open Sans";
    font-weight: 500;
    color: #48494d;
}
.contxt h2{
    text-align: center;
    font-family: "Baloo Paaji 2";
    color: #7d5eb6;
    font-size: 35px;
}
form {
    display: inline-block;
    width: 100%;
    max-width: 700px;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
}
input , textarea , button{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
input, textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1em;
    font-family: "Open Sans";
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #666;
}
button {
    width: 30%;
    padding: 10px;
    font-size: 1em;
    font-family: "sen";
    color: #594C8D;
    background-color: transparent;
    border: 2px solid #594C8D;
    margin-left: 200px;
    margin-top: 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: color 0.3s ease;
}
textarea::placeholder{
    font-family: "Open Sans";
}

button:hover {
    background-color: #594C8D;
    color: #ffffff;
}

/* footer */

.main-foot{
    height: 30vh;
    width: 100%;
    background-color: #414040;
}

.main-footxt h4{
    color: #ccc;
    font-family: "Open Sans";
    font-weight: 400;
    padding-top: 60px;
    padding-left: 150px;
}
.main-footxt span{
    font-weight: bold;
    font-size: 25px;
}
.main-footxt a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 20px;
}
.ri-arrow-up-double-line{
    width: 60px;
    height: 100px;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    line-height: 80px;
    padding-left: 5px;
}
.main-foot a{
    text-decoration: underline;
}
.main-quar{
    width: 60px;
    height: 80px;
    margin-left: 92%;
    background-color: #633da8;
}
.main-quar a{
    text-decoration: none;
}